body
  margin 0
  user-select none

.container
  background-color #444
  height 100vh
  display flex
  align-items center
  justify-content center
  flex-direction column

.nav
  display flex
  list-style-type none

  .item:not(:first-child)
    margin-left 15px

  .link
    text-decoration none
    color #90ee90
